body{
  background-image: url(bg.png);
  background-repeat: no-repeat;
  background-position: -500px -100px;

}
.col-div{
  height: 500px;
  border:1px solid green;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  
}
/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

.main{
  height:500px;
  border:1px solid rgb(236, 234, 234);
  border-radius: 10px;
 
  top:50px;
  background-color: rgb(206, 208, 224);
  padding-top: 70px;
  padding-left:30px; 
  
  
  
}
h1{
  margin-left: 150px;
}


.input-div{
  position: relative;
  margin-top: 30px;
  
}

.form-control{border:0px;}
.form-control{
  border:1px; 
  -webkit-transition: 0.5s; 
  -o-transition: 0.5s; 
  transition: 0.5s; 
  outline: 0px; 
  border-radius: 0px; 
  padding-left: 40px;
  background-color: rgb(206, 208, 224);
  outline: 0px;
 
}
.form-control{
  border-bottom: 1px solid rgb(192, 188, 188);
}
#email{
  position: absolute;
  display: inline-block;

  top: 5px;
  left: 10px;
}
#span{
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-left: 200px;
  margin-top: 10px;
  position: absolute;
  width:20px;
  height: 20px;
  
}
.pass-div{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
#password{
  position: absolute;
  display: inline-block;

  top: 5px;
  left: 10px;
}

input[type=checkbox]{
  margin: 20px 0px;
  width:20px;
  
}

.submit{
  border:1px solid rgb(173, 171, 171);
  background-color: rgb(231, 228, 228);
  color:rgb(68, 56, 56);
  border-radius: 5px;

}
#anchor{
  display: inline-block;
  width:150px;
  margin-bottom: 20px;
}
a:hover{
text-decoration: none;

}


