#post-pic{
width:100px;
height: 30px;
position:relative;
top: -155px;
left:5px;
border:0px solid black;
}
.txt{
  width:100%;
  height:150px;
  margin-left: auto;
  margin-right: auto;
  padding-left:30px;
  padding-top:30px;
}
#post-pic:hover{
  
  cursor: pointer;
}